<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1506</integer>
    <key>capHeight</key>
    <integer>1454</integer>
    <key>copyright</key>
    <string>Copyright 2017-2021 Arrow Type</string>
    <key>descender</key>
    <integer>-440</integer>
    <key>familyName</key>
    <string>Dot Comp Test</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>6J22spWuZ9</string>
        <key>name</key>
        <string>overshoot</string>
        <key>x</key>
        <integer>-200</integer>
        <key>y</key>
        <integer>1474</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>hU4SjOBeW1</string>
        <key>name</key>
        <string>overshoot</string>
        <key>x</key>
        <integer>-200</integer>
        <key>y</key>
        <integer>1526</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>JqYsunqZg3</string>
        <key>name</key>
        <string>overshoot</string>
        <key>x</key>
        <integer>-200</integer>
        <key>y</key>
        <integer>1092</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>5YvfLyXXt3</string>
        <key>name</key>
        <string>overshoot</string>
        <key>x</key>
        <integer>-200</integer>
        <key>y</key>
        <integer>-460</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>ifO81lyTv9</string>
        <key>name</key>
        <string>overshoot</string>
        <key>x</key>
        <integer>-200</integer>
        <key>y</key>
        <integer>-20</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHheaAscender</key>
    <integer>1884</integer>
    <key>openTypeHheaDescender</key>
    <integer>-480</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Stephen Nixon</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://www.stephennixon.com/</string>
    <key>openTypeNameLicenseURL</key>
    <string>https://arrowtype.com/ArrowType-EULA.pdf</string>
    <key>openTypeNameManufacturer</key>
    <string>Arrow Type</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://www.arrowtype.com/</string>
    <key>openTypeNamePreferredFamilyName</key>
    <string>Name Sans</string>
    <key>openTypeNameVersion</key>
    <string>Version 0.3, Build 0.211</string>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>2</integer>
      <integer>11</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>4</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>640</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>195</integer>
    <key>openTypeOS2TypoAscender</key>
    <integer>1884</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-480</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>ARRW</string>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1884</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>480</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-480</integer>
      <integer>-440</integer>
      <integer>-233</integer>
      <integer>-193</integer>
      <integer>-40</integer>
      <integer>0</integer>
      <integer>1072</integer>
      <integer>1112</integer>
      <integer>1261</integer>
      <integer>1301</integer>
      <integer>1454</integer>
      <integer>1494</integer>
      <integer>1506</integer>
      <integer>1546</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>postscriptUnderlinePosition</key>
    <real>-337.82625</real>
    <key>postscriptUnderlineThickness</key>
    <real>223.47875</real>
    <key>styleName</key>
    <string>Text Bold</string>
    <key>unitsPerEm</key>
    <integer>2048</integer>
    <key>versionMajor</key>
    <integer>0</integer>
    <key>versionMinor</key>
    <integer>211</integer>
    <key>xHeight</key>
    <integer>1072</integer>
    <key>year</key>
    <integer>2020</integer>
  </dict>
</plist>
