<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>dieresiscomb</key>
		<string>dieresiscomb.glif</string>
		<key>dotcomb</key>
		<string>dotcomb.glif</string>
		<key>i.decomposed</key>
		<string>i.decomposed.glif</string>
		<key>j.decomposed</key>
		<string>j.decomposed.glif</string>
		<key>period</key>
		<string>period.glif</string>
	</dict>
</plist>
