<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>com.defcon.sortDescriptor</key>
		<array>
			<dict>
				<key>ascending</key>
				<array>
					<string>dieresiscomb</string>
					<string>period</string>
					<string>exclam</string>
					<string>dotcomb</string>
					<string>i</string>
					<string>j</string>
				</array>
				<key>type</key>
				<string>glyphList</string>
			</dict>
		</array>
		<key>com.github.googlei18n.ufo2ft.featureWriters</key>
		<array>
		</array>
		<key>com.github.googlei18n.ufo2ft.filters</key>
		<array>
			<dict>
				<key>include</key>
				<array>
					<string>u</string>
					<string>b</string>
					<string>q</string>
					<string>d</string>
					<string>p</string>
					<string>arrowleft</string>
					<string>arrowup</string>
					<string>arrowright</string>
					<string>arrowdown</string>
					<string>arrowrighttail</string>
					<string>arrowlefttailfeather</string>
					<string>arrowlefttriangle</string>
					<string>nine</string>
					<string>Adieresis.titl</string>
					<string>Odieresis.titl</string>
					<string>Udieresis.titl</string>
					<string>Odieresis.RECT_titl</string>
					<string>Udieresis.RECT_titl</string>
					<string>quotesingle</string>
					<string>quotedbl</string>
					<string>quoteleft</string>
					<string>quoteright</string>
					<string>quotedblleft</string>
					<string>quotedblright</string>
					<string>quotesinglbase</string>
					<string>quotedblbase</string>
				</array>
				<key>name</key>
				<string>decomposeComponents</string>
			</dict>
			<dict>
				<key>name</key>
				<string>decomposeTransformedComponents</string>
				<key>pre</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>flattenComponents</string>
				<key>pre</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>com.typemytype.robofont.compileSettings.autohint</key>
		<true/>
		<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
		<false/>
		<key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
		<true/>
		<key>com.typemytype.robofont.compileSettings.decompose</key>
		<false/>
		<key>com.typemytype.robofont.compileSettings.generateFormat</key>
		<integer>0</integer>
		<key>com.typemytype.robofont.compileSettings.releaseMode</key>
		<false/>
		<key>com.typemytype.robofont.italicSlantOffset</key>
		<integer>0</integer>
		<key>com.typemytype.robofont.segmentType</key>
		<string>curve</string>
		<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
		<integer>1</integer>
		<key>com.typemytype.robofont.smartSets.uniqueKey</key>
		<string>9339575312</string>
		<key>com.typesupply.metricsMachine4.groupColors</key>
		<dict>
			<key>public.kern1.C</key>
			<array>
				<integer>0</integer>
				<real>0.5</real>
				<integer>1</integer>
				<real>0.25</real>
			</array>
			<key>public.kern1.O</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
				<real>0.25</real>
			</array>
			<key>public.kern1.O.RECT</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
				<real>0.25</real>
			</array>
			<key>public.kern1.W</key>
			<array>
				<real>0.5</real>
				<integer>0</integer>
				<integer>1</integer>
				<real>0.25</real>
			</array>
			<key>public.kern1.X</key>
			<array>
				<integer>1</integer>
				<integer>0</integer>
				<integer>1</integer>
				<real>0.25</real>
			</array>
			<key>public.kern1.n</key>
			<array>
				<integer>1</integer>
				<real>0.5</real>
				<integer>0</integer>
				<real>0.25</real>
			</array>
			<key>public.kern1.o</key>
			<array>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
				<real>0.25</real>
			</array>
			<key>public.kern1.u</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>1</integer>
				<real>0.25</real>
			</array>
			<key>public.kern1.v</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
				<real>0.25</real>
			</array>
			<key>public.kern2.O</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
				<real>0.25</real>
			</array>
			<key>public.kern2.O.RECT</key>
			<array>
				<integer>0</integer>
				<real>0.5</real>
				<integer>1</integer>
				<real>0.25</real>
			</array>
			<key>public.kern2.W</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>1</integer>
				<real>0.25</real>
			</array>
			<key>public.kern2.n</key>
			<array>
				<integer>1</integer>
				<real>0.5</real>
				<integer>0</integer>
				<real>0.25</real>
			</array>
			<key>public.kern2.o</key>
			<array>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
				<real>0.25</real>
			</array>
			<key>public.kern2.v</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
				<real>0.25</real>
			</array>
		</dict>
		<key>designspace.location</key>
		<array>
			<array>
				<string>Weight</string>
				<integer>500</integer>
			</array>
		</array>
		<key>org.unifiedfontobject.normalizer.modTimes</key>
		<string>version: 0.4.3.dev0
1617727504.2 fontinfo.plist
1617727504.3 groups.plist
1617727504.3 kerning.plist
1617727642.1 layercontents.plist
1617727504.2 metainfo.plist</string>
		<key>public.glyphOrder</key>
		<array>
			<string>dieresiscomb</string>
			<string>period</string>
			<string>exclam</string>
			<string>dotcomb</string>
			<string>i</string>
			<string>j</string>
		</array>
		<key>public.postscriptNames</key>
		<dict>
		</dict>
		<key>public.skipExportGlyphs</key>
		<array>
			<string>cedillacomb</string>
		</array>
	</dict>
</plist>
