<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>org.unifiedfontobject.normalizer.imageReferences</key>
      <dict/>
      <key>org.unifiedfontobject.normalizer.modTimes</key>
      <string>version: 0.4.3.dev0
1586112504.3 _gridunit.glif
1605660499.9 _notdef.glif
1586112504.3 arrowup.glif
1607815449.6 g.text.glif
1594499077.2 hookcomb.glif
1586112504.3 section.glif</string>
    </dict>
  </dict>
</plist>
