<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>color</key>
		<string>1,0.75,0,0.7</string>
		<key>lib</key>
		<dict>
			<key>org.unifiedfontobject.normalizer.imageReferences</key>
			<dict>
			</dict>
			<key>org.unifiedfontobject.normalizer.modTimes</key>
			<string>version: 0.4.3.dev0
1613794389.9 A_.glif
1613794389.9 E_.glif
1617727504.3 F_.glif
1613794389.9 G_.glif
1613794389.9 S_.glif
1613794389.9 T_.glif
1617727504.3 _gridunit.glif
1617727504.3 _notdef.glif
1617727504.3 a.glif
1617727504.3 n.glif
1617727504.3 o.glif
1617727504.3 r.glif
1617727504.3 s.glif
1617727504.3 u.glif
1617727504.3 y.glif
1617727504.3 z.glif</string>
		</dict>
	</dict>
</plist>
