<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>ascender</key>
		<integer>1454</integer>
		<key>capHeight</key>
		<integer>1454</integer>
		<key>copyright</key>
		<string>Copyright 2017-2021 Arrow Type</string>
		<key>descender</key>
		<integer>-356</integer>
		<key>familyName</key>
		<string>Dot Comp Test</string>
		<key>guidelines</key>
		<array>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>identifier</key>
				<string>92lewiUDEB</string>
				<key>name</key>
				<string>overshoot</string>
				<key>x</key>
				<integer>-200</integer>
				<key>y</key>
				<integer>1474</integer>
			</dict>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>identifier</key>
				<string>zfhXRNTwqQ</string>
				<key>name</key>
				<string>overshoot</string>
				<key>x</key>
				<integer>-200</integer>
				<key>y</key>
				<integer>1474</integer>
			</dict>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>identifier</key>
				<string>v0kEmsDCvS</string>
				<key>name</key>
				<string>overshoot</string>
				<key>x</key>
				<integer>-200</integer>
				<key>y</key>
				<integer>990</integer>
			</dict>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>identifier</key>
				<string>FsSdL0XKaq</string>
				<key>name</key>
				<string>overshoot</string>
				<key>x</key>
				<integer>-200</integer>
				<key>y</key>
				<integer>-376</integer>
			</dict>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>identifier</key>
				<string>IpwAKjQB3z</string>
				<key>name</key>
				<string>overshoot</string>
				<key>x</key>
				<integer>-200</integer>
				<key>y</key>
				<integer>-20</integer>
			</dict>
		</array>
		<key>italicAngle</key>
		<integer>0</integer>
		<key>openTypeHheaAscender</key>
		<integer>1884</integer>
		<key>openTypeHheaDescender</key>
		<integer>-480</integer>
		<key>openTypeHheaLineGap</key>
		<integer>0</integer>
		<key>openTypeNameDesigner</key>
		<string>Stephen Nixon</string>
		<key>openTypeNameDesignerURL</key>
		<string>http://www.stephennixon.com/</string>
		<key>openTypeNameLicenseURL</key>
		<string>https://arrowtype.com/ArrowType-EULA.pdf</string>
		<key>openTypeNameManufacturer</key>
		<string>Arrow Type</string>
		<key>openTypeNameManufacturerURL</key>
		<string>http://www.arrowtype.com/</string>
		<key>openTypeNamePreferredFamilyName</key>
		<string>Name Sans</string>
		<key>openTypeNameVersion</key>
		<string>Version 0.3, Build 0.211</string>
		<key>openTypeOS2Panose</key>
		<array>
			<integer>2</integer>
			<integer>11</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>4</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>openTypeOS2StrikeoutPosition</key>
		<integer>522</integer>
		<key>openTypeOS2StrikeoutSize</key>
		<integer>2</integer>
		<key>openTypeOS2TypoAscender</key>
		<integer>1884</integer>
		<key>openTypeOS2TypoDescender</key>
		<integer>-480</integer>
		<key>openTypeOS2TypoLineGap</key>
		<integer>0</integer>
		<key>openTypeOS2VendorID</key>
		<string>ARRW</string>
		<key>openTypeOS2WidthClass</key>
		<integer>5</integer>
		<key>openTypeOS2WinAscent</key>
		<integer>1884</integer>
		<key>openTypeOS2WinDescent</key>
		<integer>480</integer>
		<key>postscriptBlueValues</key>
		<array>
			<integer>-396</integer>
			<integer>-356</integer>
			<integer>-276</integer>
			<integer>-236</integer>
			<integer>-40</integer>
			<integer>0</integer>
			<integer>970</integer>
			<integer>1010</integer>
			<integer>1218</integer>
			<integer>1258</integer>
			<integer>1454</integer>
			<integer>1494</integer>
		</array>
		<key>postscriptFamilyBlues</key>
		<array>
		</array>
		<key>postscriptFamilyOtherBlues</key>
		<array>
		</array>
		<key>postscriptOtherBlues</key>
		<array>
		</array>
		<key>postscriptStemSnapH</key>
		<array>
		</array>
		<key>postscriptStemSnapV</key>
		<array>
		</array>
		<key>postscriptUnderlinePosition</key>
		<integer>-355</integer>
		<key>postscriptUnderlineThickness</key>
		<integer>2</integer>
		<key>styleName</key>
		<string>Display Hairline</string>
		<key>unitsPerEm</key>
		<integer>2048</integer>
		<key>versionMajor</key>
		<integer>0</integer>
		<key>versionMinor</key>
		<integer>211</integer>
		<key>xHeight</key>
		<integer>970</integer>
		<key>year</key>
		<integer>2020</integer>
	</dict>
</plist>
