<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,1,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.typemytype.robofont.layerShow</key>
      <true/>
      <key>com.typemytype.robofont.layerShowCoordinates</key>
      <false/>
      <key>com.typemytype.robofont.layerShowFill</key>
      <false/>
      <key>com.typemytype.robofont.layerShowPoints</key>
      <true/>
      <key>com.typemytype.robofont.layerShowStroke</key>
      <true/>
      <key>org.unifiedfontobject.normalizer.imageReferences</key>
      <dict/>
      <key>org.unifiedfontobject.normalizer.modTimes</key>
      <string>version: 0.4.3.dev0
1613794389.8 a.glif
1617727504.2 a.italic.glif
1617727504.2 ae.glif
1613794389.8 b.glif
1607815450.3 cedillacomb.glif
1603666317.1 comma.glif
1613794389.8 d.glif
1613794389.8 e.glif
1613794389.8 g.glif
1617727504.2 h.glif
1613794389.8 m.glif
1617727504.2 n.glif
1607815450.3 nine.glif
1617727504.2 o.glif
1617727504.2 oe.glif
1613794389.8 p.glif
1603666317.2 period.glif
1607815450.3 q.glif
1607815450.3 quotedblbase.glif
1607815450.3 quotedblleft.glif
1607815450.3 quotedblright.glif
1607815450.3 quoteleft.glif
1607815450.3 quotesinglbase.glif
1617153792.8 r.glif
1607815450.3 six.glif
1617727504.2 u.glif</string>
    </dict>
  </dict>
</plist>
