<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>ascender</key>
		<integer>1454</integer>
		<key>capHeight</key>
		<integer>1454</integer>
		<key>descender</key>
		<integer>-356</integer>
		<key>familyName</key>
		<string>Dot Comp Test</string>
		<key>guidelines</key>
		<array>
		</array>
		<key>italicAngle</key>
		<integer>0</integer>
		<key>openTypeHheaAscender</key>
		<integer>1884</integer>
		<key>openTypeHheaDescender</key>
		<integer>-480</integer>
		<key>openTypeHheaLineGap</key>
		<integer>0</integer>
		<key>openTypeOS2StrikeoutPosition</key>
		<integer>627</integer>
		<key>openTypeOS2StrikeoutSize</key>
		<integer>159</integer>
		<key>openTypeOS2TypoAscender</key>
		<integer>1884</integer>
		<key>openTypeOS2TypoDescender</key>
		<integer>-480</integer>
		<key>openTypeOS2TypoLineGap</key>
		<integer>0</integer>
		<key>openTypeOS2WidthClass</key>
		<integer>5</integer>
		<key>openTypeOS2WinAscent</key>
		<integer>1884</integer>
		<key>openTypeOS2WinDescent</key>
		<integer>480</integer>
		<key>postscriptBlueValues</key>
		<array>
			<integer>-396</integer>
			<integer>-356</integer>
			<integer>-40</integer>
			<integer>0</integer>
			<integer>1036</integer>
			<integer>1076</integer>
			<integer>1454</integer>
			<integer>1494</integer>
			<integer>1506</integer>
			<integer>1546</integer>
		</array>
		<key>postscriptFamilyBlues</key>
		<array>
		</array>
		<key>postscriptFamilyOtherBlues</key>
		<array>
		</array>
		<key>postscriptOtherBlues</key>
		<array>
		</array>
		<key>postscriptStemSnapH</key>
		<array>
		</array>
		<key>postscriptStemSnapV</key>
		<array>
		</array>
		<key>postscriptUnderlinePosition</key>
		<real>-317.551</real>
		<key>postscriptUnderlineThickness</key>
		<real>233.1973333333</real>
		<key>styleName</key>
		<string>Display 800</string>
		<key>unitsPerEm</key>
		<integer>2048</integer>
		<key>xHeight</key>
		<real>1036.3333333333</real>
	</dict>
</plist>
