<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>denominators</key>
		<array>
			<string>zero.dnom</string>
			<string>one.dnom</string>
			<string>two.dnom</string>
			<string>three.dnom</string>
			<string>four.dnom</string>
			<string>five.dnom</string>
			<string>six.dnom</string>
			<string>seven.dnom</string>
			<string>eight.dnom</string>
			<string>nine.dnom</string>
		</array>
		<key>figures</key>
		<array>
			<string>zero</string>
			<string>one</string>
			<string>two</string>
			<string>three</string>
			<string>four</string>
			<string>five</string>
			<string>six</string>
			<string>seven</string>
			<string>eight</string>
			<string>nine</string>
		</array>
		<key>numerators</key>
		<array>
			<string>zero.numr</string>
			<string>one.numr</string>
			<string>two.numr</string>
			<string>three.numr</string>
			<string>four.numr</string>
			<string>five.numr</string>
			<string>six.numr</string>
			<string>seven.numr</string>
			<string>eight.numr</string>
			<string>nine.numr</string>
		</array>
		<key>public.kern1.A</key>
		<array>
			<string>A</string>
			<string>Aacute</string>
			<string>Acircumflex</string>
			<string>Adieresis</string>
			<string>Agrave</string>
			<string>Aring</string>
			<string>Atilde</string>
			<string>Abreve</string>
			<string>Amacron</string>
			<string>Abreveacute</string>
			<string>Abrevedot</string>
			<string>Abrevegrave</string>
			<string>Abrevehook</string>
			<string>Abrevetilde</string>
			<string>Acircumflexacute</string>
			<string>Acircumflexdot</string>
			<string>Acircumflexgrave</string>
			<string>Acircumflexhook</string>
			<string>Acircumflextilde</string>
			<string>Adotbelow</string>
			<string>Ahook</string>
			<string>Aogonek</string>
			<string>Delta</string>
			<string>Acaron</string>
		</array>
		<key>public.kern1.C</key>
		<array>
			<string>C</string>
			<string>Ccedilla</string>
			<string>Cacute</string>
			<string>Ccaron</string>
		</array>
		<key>public.kern1.C.RECT</key>
		<array>
			<string>C.RECT</string>
			<string>Ccedilla.RECT</string>
			<string>Cacute.RECT</string>
		</array>
		<key>public.kern1.E</key>
		<array>
			<string>E</string>
			<string>Ebreve</string>
			<string>Emacron</string>
			<string>Eacute</string>
			<string>Ecircumflex</string>
			<string>Edieresis</string>
			<string>Egrave</string>
			<string>AE</string>
			<string>OE</string>
			<string>E.RECT</string>
			<string>Eacute.RECT</string>
			<string>Ebreve.RECT</string>
			<string>Ecircumflex.RECT</string>
			<string>Edieresis.RECT</string>
			<string>Egrave.RECT</string>
			<string>Emacron.RECT</string>
			<string>OE.RECT</string>
			<string>Ecircumflexacute</string>
			<string>Ecircumflexdot</string>
			<string>Ecircumflexgrave</string>
			<string>Ecircumflexhook</string>
			<string>Ecircumflextilde</string>
			<string>Edotbelow</string>
			<string>Ehook</string>
			<string>Etilde</string>
			<string>Ecircumflexacute.RECT</string>
			<string>Ecircumflexdot.RECT</string>
			<string>Ecircumflexgrave.RECT</string>
			<string>Ecircumflexhook.RECT</string>
			<string>Ecircumflextilde.RECT</string>
			<string>Edotbelow.RECT</string>
			<string>Ehook.RECT</string>
			<string>Etilde.RECT</string>
			<string>Ecaron</string>
			<string>Edotaccent</string>
			<string>Eogonek</string>
			<string>Edotaccent.RECT</string>
			<string>Eogonek.RECT</string>
		</array>
		<key>public.kern1.G</key>
		<array>
			<string>G</string>
			<string>Gbreve</string>
			<string>Gcedilla</string>
		</array>
		<key>public.kern1.Germandbls</key>
		<array>
			<string>Germandbls</string>
			<string>Germandbls.RECT</string>
			<string>B.RECT</string>
			<string>B</string>
		</array>
		<key>public.kern1.H</key>
		<array>
			<string>H</string>
			<string>I</string>
			<string>Iacute</string>
			<string>Igrave</string>
			<string>M</string>
			<string>M.RECT</string>
			<string>N</string>
			<string>Ntilde</string>
			<string>i</string>
			<string>igrave</string>
			<string>l.text</string>
			<string>d</string>
			<string>Idotaccent</string>
			<string>Idotbelow</string>
			<string>Ihook</string>
			<string>idotbelow</string>
			<string>j.ultra</string>
			<string>Nacute</string>
			<string>Iogonek</string>
			<string>Ncaron</string>
			<string>Ncedilla</string>
			<string>lacute.text</string>
			<string>lcedilla.text</string>
			<string>ij.ultra</string>
			<string>one</string>
			<string>N.RECT</string>
			<string>Nacute.RECT</string>
			<string>Ncaron.RECT</string>
			<string>Ncedilla.RECT</string>
			<string>Ntilde.RECT</string>
			<string>I.default</string>
			<string>Iacute.default</string>
			<string>Ibreve.default</string>
			<string>Icircumflex.default</string>
			<string>Idieresis.default</string>
			<string>Idotaccent.default</string>
			<string>Idotbelow.default</string>
			<string>Igrave.default</string>
			<string>Ihook.default</string>
			<string>Imacron.default</string>
			<string>Iogonek.default</string>
			<string>Itilde.default</string>
			<string>Eng</string>
			<string>exclam.brut</string>
			<string>exclamdown.case_brut</string>
			<string>exclamdown.case</string>
			<string>H.RECT</string>
			<string>idotaccent</string>
		</array>
		<key>public.kern1.I.text</key>
		<array>
			<string>I.text</string>
			<string>Iacute.text</string>
			<string>Ibreve.text</string>
			<string>Icircumflex.text</string>
			<string>Idieresis.text</string>
			<string>Igrave.text</string>
			<string>Imacron.text</string>
			<string>Idotbelow.text</string>
			<string>Ihook.text</string>
			<string>Itilde.text</string>
			<string>Idotaccent.text</string>
			<string>Iogonek.text</string>
		</array>
		<key>public.kern1.Itop</key>
		<array>
			<string>Ibreve</string>
			<string>Icircumflex</string>
			<string>Idieresis</string>
			<string>Imacron</string>
			<string>Itilde</string>
		</array>
		<key>public.kern1.K</key>
		<array>
			<string>K</string>
			<string>Kcedilla</string>
		</array>
		<key>public.kern1.L</key>
		<array>
			<string>L</string>
			<string>Lacute</string>
			<string>Lcedilla</string>
			<string>Lcaron</string>
		</array>
		<key>public.kern1.Ldot</key>
		<array>
			<string>Ldot</string>
			<string>Lslash</string>
		</array>
		<key>public.kern1.O</key>
		<array>
			<string>D</string>
			<string>O</string>
			<string>Oacute</string>
			<string>Ocircumflex</string>
			<string>Odieresis</string>
			<string>Ograve</string>
			<string>Obreve</string>
			<string>Omacron</string>
			<string>Odieresis.titl</string>
			<string>Eth</string>
			<string>Ocircumflexacute</string>
			<string>Ocircumflexdot</string>
			<string>Ocircumflexgrave</string>
			<string>Ocircumflexhook</string>
			<string>Ocircumflextilde</string>
			<string>Odotbelow</string>
			<string>Ohook</string>
			<string>Otilde</string>
			<string>Dcroat</string>
			<string>Dcaron</string>
			<string>Ohungarumlaut</string>
			<string>at.case</string>
		</array>
		<key>public.kern1.O.RECT</key>
		<array>
			<string>D.RECT</string>
			<string>G.RECT</string>
			<string>O.RECT</string>
			<string>Oacute.RECT</string>
			<string>Obreve.RECT</string>
			<string>Ocircumflex.RECT</string>
			<string>Odieresis.RECT</string>
			<string>Ograve.RECT</string>
			<string>Omacron.RECT</string>
			<string>Ocircumflexacute.RECT</string>
			<string>Ocircumflexdot.RECT</string>
			<string>Ocircumflexgrave.RECT</string>
			<string>Ocircumflexhook.RECT</string>
			<string>Ocircumflextilde.RECT</string>
			<string>Odieresis.RECT_titl</string>
			<string>Odotbelow.RECT</string>
			<string>Ohook.RECT</string>
			<string>Otilde.RECT</string>
			<string>Dcroat.RECT</string>
			<string>Eth.RECT</string>
			<string>Gcedilla.RECT</string>
			<string>Gbreve.RECT</string>
		</array>
		<key>public.kern1.Ohorn</key>
		<array>
			<string>Ohorn</string>
			<string>Ohornacute</string>
			<string>Ohorndot</string>
			<string>Ohorngrave</string>
			<string>Ohornhook</string>
			<string>Ohorntilde</string>
		</array>
		<key>public.kern1.Ohorn.RECT</key>
		<array>
			<string>Ohorn.RECT</string>
			<string>Ohornacute.RECT</string>
			<string>Ohorndot.RECT</string>
			<string>Ohorngrave.RECT</string>
			<string>Ohornhook.RECT</string>
			<string>Ohorntilde.RECT</string>
		</array>
		<key>public.kern1.Oslash</key>
		<array>
			<string>Oslash</string>
			<string>Oslash.open</string>
			<string>Oslashacute</string>
			<string>Oslashacute.open</string>
		</array>
		<key>public.kern1.Oslash.RECT</key>
		<array>
			<string>Oslash.RECT</string>
			<string>Oslash.RECT_open</string>
			<string>Oslashacute.RECT</string>
			<string>Oslashacute.RECT_open</string>
		</array>
		<key>public.kern1.Q</key>
		<array>
			<string>Q</string>
			<string>Q.open</string>
		</array>
		<key>public.kern1.Q.RECT</key>
		<array>
			<string>Q.RECT</string>
			<string>Q.RECT_open</string>
		</array>
		<key>public.kern1.R</key>
		<array>
			<string>R</string>
			<string>Racute</string>
			<string>Rcaron</string>
			<string>Rcedilla</string>
			<string>R.default</string>
			<string>Racute.default</string>
			<string>Rcaron.default</string>
			<string>Rcedilla.default</string>
		</array>
		<key>public.kern1.R.RECT</key>
		<array>
			<string>R.RECT</string>
			<string>Racute.RECT</string>
			<string>Rcaron.RECT</string>
			<string>Rcedilla.RECT</string>
		</array>
		<key>public.kern1.R.RECT_grot</key>
		<array>
			<string>R.RECTgrot</string>
			<string>Racute.RECTgrot</string>
			<string>Rcaron.RECTgrot</string>
			<string>Rcedilla.RECTgrot</string>
		</array>
		<key>public.kern1.R.grot</key>
		<array>
			<string>R.grot</string>
			<string>Racute.grot</string>
			<string>Rcaron.grot</string>
			<string>Rcedilla.grot</string>
		</array>
		<key>public.kern1.S</key>
		<array>
			<string>S</string>
			<string>dollar.open</string>
			<string>dollar</string>
			<string>Scedilla</string>
			<string>Sacute</string>
			<string>Scaron</string>
			<string>Scommaaccent</string>
		</array>
		<key>public.kern1.T</key>
		<array>
			<string>T</string>
			<string>Tcaron</string>
			<string>T.ultra</string>
			<string>Tcaron.ultra</string>
			<string>Tcedilla</string>
			<string>Tcedilla.ultra</string>
			<string>Tcommaaccent</string>
			<string>Tcommaaccent.ultra</string>
		</array>
		<key>public.kern1.U</key>
		<array>
			<string>U</string>
			<string>Ubreve</string>
			<string>Uacute</string>
			<string>Ucircumflex</string>
			<string>Udieresis</string>
			<string>Ugrave</string>
			<string>J</string>
			<string>Umacron</string>
			<string>IJ</string>
			<string>Udieresis.titl</string>
			<string>Udotbelow</string>
			<string>Uhook</string>
			<string>Utilde</string>
			<string>uni01D3</string>
			<string>Ucaron</string>
			<string>Uhungarumlaut</string>
			<string>Uogonek</string>
			<string>Uring</string>
			<string>IJacute</string>
			<string>Jacute</string>
		</array>
		<key>public.kern1.U.text</key>
		<array>
			<string>U.RECT</string>
			<string>Uacute.RECT</string>
			<string>Ubreve.RECT</string>
			<string>Ucircumflex.RECT</string>
			<string>Udieresis.RECT</string>
			<string>Ugrave.RECT</string>
			<string>Umacron.RECT</string>
			<string>Udotbelow.RECT</string>
			<string>Uhook.RECT</string>
			<string>Uhorn.RECT</string>
			<string>Uhornacute.RECT</string>
			<string>Uhorndot.RECT</string>
			<string>Uhorngrave.RECT</string>
			<string>Uhornhook.RECT</string>
			<string>Uhorntilde.RECT</string>
			<string>Utilde.RECT</string>
			<string>Uogonek.RECT</string>
			<string>Udieresis.RECT_titl</string>
			<string>Ucaron.RECT</string>
		</array>
		<key>public.kern1.Uhorn</key>
		<array>
			<string>Uhorn</string>
			<string>Uhornacute</string>
			<string>Uhorndot</string>
			<string>Uhorngrave</string>
			<string>Uhornhook</string>
			<string>Uhorntilde</string>
		</array>
		<key>public.kern1.W</key>
		<array>
			<string>W</string>
		</array>
		<key>public.kern1.W.RECT</key>
		<array>
			<string>W.RECT</string>
		</array>
		<key>public.kern1.X</key>
		<array>
			<string>X</string>
		</array>
		<key>public.kern1.Y</key>
		<array>
			<string>Y</string>
			<string>Ydieresis</string>
			<string>Yacute</string>
			<string>Ydotbelow</string>
			<string>Ygrave</string>
			<string>Yhookabove</string>
			<string>Ytilde</string>
		</array>
		<key>public.kern1.Z</key>
		<array>
			<string>Z</string>
			<string>Zacute</string>
			<string>Zdotaccent</string>
			<string>Zcaron</string>
		</array>
		<key>public.kern1.a</key>
		<array>
			<string>a</string>
			<string>aacute</string>
			<string>abreve</string>
			<string>abreveacute</string>
			<string>abrevedot</string>
			<string>abrevegrave</string>
			<string>abrevehook</string>
			<string>abrevetilde</string>
			<string>acircumflex</string>
			<string>acircumflexacute</string>
			<string>acircumflexdot</string>
			<string>acircumflexgrave</string>
			<string>acircumflexhook</string>
			<string>acircumflextilde</string>
			<string>adieresis</string>
			<string>adotbelow</string>
			<string>agrave</string>
			<string>ahook</string>
			<string>amacron</string>
			<string>aring</string>
			<string>atilde</string>
			<string>aogonek</string>
			<string>acaron</string>
		</array>
		<key>public.kern1.braceleft</key>
		<array>
			<string>braceleft</string>
			<string>bracketleft</string>
			<string>parenleft</string>
			<string>braceleft.case</string>
			<string>bracketleft.case</string>
			<string>parenleft.case</string>
		</array>
		<key>public.kern1.c</key>
		<array>
			<string>c</string>
			<string>cacute</string>
			<string>ccedilla</string>
			<string>ccaron</string>
		</array>
		<key>public.kern1.eight</key>
		<array>
			<string>eight</string>
			<string>three</string>
			<string>eight.onum</string>
		</array>
		<key>public.kern1.g.text</key>
		<array>
			<string>g.text</string>
			<string>gbreve.text</string>
			<string>gcedilla.text</string>
		</array>
		<key>public.kern1.guillemetleft</key>
		<array>
			<string>guillemetleft</string>
			<string>guilsinglleft</string>
		</array>
		<key>public.kern1.guillemetright</key>
		<array>
			<string>guillemetright</string>
			<string>guilsinglright</string>
		</array>
		<key>public.kern1.hyphen</key>
		<array>
			<string>emdash</string>
			<string>endash</string>
			<string>hyphen</string>
			<string>uni2010</string>
			<string>minus</string>
			<string>plus</string>
			<string>hyphenproper</string>
		</array>
		<key>public.kern1.iacute</key>
		<array>
			<string>jacute</string>
			<string>jacute.ultra</string>
			<string>iacute</string>
			<string>ijacute</string>
			<string>ijacute.ultra</string>
		</array>
		<key>public.kern1.itop</key>
		<array>
			<string>ibreve</string>
			<string>icircumflex</string>
			<string>idieresis</string>
			<string>imacron</string>
			<string>itilde</string>
			<string>ihook</string>
		</array>
		<key>public.kern1.j</key>
		<array>
			<string>ij</string>
			<string>j</string>
			<string>jdotless</string>
		</array>
		<key>public.kern1.k</key>
		<array>
			<string>x</string>
			<string>k</string>
			<string>kcedilla</string>
		</array>
		<key>public.kern1.lcaron</key>
		<array>
			<string>lcaron.default</string>
			<string>lcaron</string>
			<string>lcaron.text</string>
		</array>
		<key>public.kern1.lhook</key>
		<array>
			<string>l</string>
			<string>lacute</string>
			<string>lcedilla</string>
			<string>l.default</string>
			<string>lacute.default</string>
			<string>lcedilla.default</string>
		</array>
		<key>public.kern1.n</key>
		<array>
			<string>m</string>
			<string>n</string>
			<string>h</string>
			<string>ntilde</string>
			<string>nacute</string>
			<string>ncedilla</string>
			<string>ncaron</string>
		</array>
		<key>public.kern1.o</key>
		<array>
			<string>o</string>
			<string>e</string>
			<string>b</string>
			<string>p</string>
			<string>eacute</string>
			<string>ebreve</string>
			<string>ecircumflex</string>
			<string>edieresis</string>
			<string>egrave</string>
			<string>emacron</string>
			<string>oacute</string>
			<string>obreve</string>
			<string>ocircumflex</string>
			<string>odieresis</string>
			<string>ograve</string>
			<string>omacron</string>
			<string>oslash</string>
			<string>ae</string>
			<string>oe</string>
			<string>oslash.open</string>
			<string>thorn</string>
			<string>eth</string>
			<string>ecircumflexacute</string>
			<string>ecircumflexdot</string>
			<string>ecircumflexgrave</string>
			<string>ecircumflexhook</string>
			<string>ecircumflextilde</string>
			<string>edotbelow</string>
			<string>ehook</string>
			<string>etilde</string>
			<string>ocircumflexacute</string>
			<string>ocircumflexdot</string>
			<string>ocircumflexgrave</string>
			<string>ocircumflexhook</string>
			<string>ocircumflextilde</string>
			<string>odotbelow</string>
			<string>ohook</string>
			<string>otilde</string>
			<string>eogonek</string>
			<string>ecaron</string>
			<string>edotaccent</string>
			<string>ohungarumlaut</string>
			<string>oslashacute</string>
			<string>oslashacute.open</string>
		</array>
		<key>public.kern1.ohorn</key>
		<array>
			<string>ohorn</string>
			<string>ohornacute</string>
			<string>ohorndot</string>
			<string>ohorngrave</string>
			<string>ohornhook</string>
			<string>ohorntilde</string>
			<string>ohorn.flat</string>
		</array>
		<key>public.kern1.one.onum</key>
		<array>
			<string>one.90deg_onum</string>
			<string>one.onum</string>
		</array>
		<key>public.kern1.ordinal</key>
		<array>
			<string>RD.ord</string>
			<string>ND.ord</string>
			<string>ST.ord</string>
			<string>TH.ord</string>
			<string>ordfeminine</string>
			<string>ordmasculine</string>
		</array>
		<key>public.kern1.period</key>
		<array>
			<string>comma</string>
			<string>period</string>
			<string>ellipsis</string>
			<string>comma.brut</string>
		</array>
		<key>public.kern1.q</key>
		<array>
			<string>semicolon</string>
			<string>g</string>
			<string>q</string>
			<string>exclamdown</string>
			<string>gbreve</string>
			<string>gcedilla</string>
			<string>g.default</string>
			<string>gbreve.default</string>
			<string>gcedilla.default</string>
			<string>eng</string>
			<string>semicolon.brut</string>
			<string>exclamdown.brut</string>
		</array>
		<key>public.kern1.quoteleft</key>
		<array>
			<string>quotedblleft</string>
			<string>quoteleft</string>
		</array>
		<key>public.kern1.quoteright</key>
		<array>
			<string>quotedblright</string>
			<string>quoteright</string>
		</array>
		<key>public.kern1.quoteright.brut</key>
		<array>
			<string>quotedblright.brut</string>
			<string>quoteright.brut</string>
		</array>
		<key>public.kern1.quotesinglbase</key>
		<array>
			<string>quotedblbase</string>
			<string>quotesinglbase</string>
			<string>quotedblbase.brut</string>
			<string>quotesinglbase.brut</string>
		</array>
		<key>public.kern1.quotesingle</key>
		<array>
			<string>minute</string>
			<string>quotedbl</string>
			<string>quotesingle</string>
			<string>second</string>
		</array>
		<key>public.kern1.quotesingle.brut</key>
		<array>
			<string>quotedbl.brut</string>
			<string>quotesingle.brut</string>
			<string>quotedblleft.brut</string>
			<string>quoteleft.brut</string>
		</array>
		<key>public.kern1.r</key>
		<array>
			<string>r</string>
			<string>r.calt</string>
			<string>racute</string>
			<string>rcaron</string>
			<string>rcedilla</string>
		</array>
		<key>public.kern1.s</key>
		<array>
			<string>s</string>
			<string>sacute</string>
			<string>scaron</string>
			<string>scedilla</string>
			<string>scommaaccent</string>
		</array>
		<key>public.kern1.six</key>
		<array>
			<string>six</string>
			<string>six.onum</string>
		</array>
		<key>public.kern1.t</key>
		<array>
			<string>t</string>
			<string>tcaron</string>
			<string>tcedilla</string>
			<string>tcommaaccent</string>
		</array>
		<key>public.kern1.t.simple</key>
		<array>
			<string>t.simple</string>
			<string>tcaron.simple</string>
			<string>tcedilla.simple</string>
			<string>tcommaaccent.simple</string>
		</array>
		<key>public.kern1.u</key>
		<array>
			<string>u</string>
			<string>ubreve</string>
			<string>umacron</string>
			<string>uacute</string>
			<string>ucircumflex</string>
			<string>udieresis</string>
			<string>ugrave</string>
			<string>udotbelow</string>
			<string>uhook</string>
			<string>uni01D4</string>
			<string>utilde</string>
			<string>ucaron</string>
			<string>uhungarumlaut</string>
			<string>uogonek</string>
			<string>uring</string>
			<string>a.italic</string>
			<string>aacute.italic</string>
			<string>abreve.italic</string>
			<string>abreveacute.italic</string>
			<string>abrevedot.italic</string>
			<string>abrevegrave.italic</string>
			<string>abrevehook.italic</string>
			<string>abrevetilde.italic</string>
			<string>acircumflex.italic</string>
			<string>acircumflexacute.italic</string>
			<string>acircumflexdot.italic</string>
			<string>acircumflexgrave.italic</string>
			<string>acircumflexhook.italic</string>
			<string>acircumflextilde.italic</string>
			<string>adieresis.italic</string>
			<string>adotbelow.italic</string>
			<string>agrave.italic</string>
			<string>ahook.italic</string>
			<string>amacron.italic</string>
			<string>aogonek.italic</string>
			<string>aring.italic</string>
			<string>atilde.italic</string>
			<string>jdotless.ultra</string>
			<string>colon</string>
			<string>tbar</string>
		</array>
		<key>public.kern1.uhorn</key>
		<array>
			<string>uhorn</string>
			<string>uhornacute</string>
			<string>uhorndot</string>
			<string>uhorngrave</string>
			<string>uhornhook</string>
			<string>uhorntilde</string>
		</array>
		<key>public.kern1.v</key>
		<array>
			<string>v</string>
			<string>y</string>
			<string>ydieresis</string>
			<string>yacute</string>
			<string>ydotbelow</string>
			<string>ygrave</string>
			<string>yhookabove</string>
			<string>ytilde</string>
			<string>y.ultra</string>
			<string>y.bold</string>
			<string>y.ultra_calt</string>
			<string>yacute.bold</string>
			<string>yacute.ultra_calt</string>
			<string>ydieresis.bold</string>
			<string>ydieresis.ultra_calt</string>
			<string>ydotbelow.bold</string>
			<string>ydotbelow.ultra_calt</string>
			<string>ygrave.bold</string>
			<string>ygrave.ultra_calt</string>
			<string>yhookabove.bold</string>
			<string>yhookabove.ultra_calt</string>
			<string>ytilde.bold</string>
			<string>ytilde.ultra_calt</string>
			<string>yacute.ultra</string>
			<string>ydieresis.ultra</string>
			<string>ydotbelow.ultra</string>
			<string>ygrave.ultra</string>
			<string>yhookabove.ultra</string>
			<string>ytilde.ultra</string>
		</array>
		<key>public.kern1.w</key>
		<array>
			<string>w</string>
		</array>
		<key>public.kern1.z</key>
		<array>
			<string>z</string>
			<string>zacute</string>
			<string>zcaron</string>
			<string>zdotaccent</string>
			<string>germandbls.alt</string>
		</array>
		<key>public.kern1.zero</key>
		<array>
			<string>nine</string>
			<string>zero</string>
			<string>zero.zero</string>
		</array>
		<key>public.kern1.zero.onum</key>
		<array>
			<string>zero.zero_onum</string>
			<string>zero.onum</string>
		</array>
		<key>public.kern2.A</key>
		<array>
			<string>A</string>
			<string>Aacute</string>
			<string>Acircumflex</string>
			<string>Adieresis</string>
			<string>Agrave</string>
			<string>Aring</string>
			<string>Atilde</string>
			<string>AE</string>
			<string>Abreve</string>
			<string>Amacron</string>
			<string>Abreveacute</string>
			<string>Abrevedot</string>
			<string>Abrevegrave</string>
			<string>Abrevehook</string>
			<string>Abrevetilde</string>
			<string>Acircumflexacute</string>
			<string>Acircumflexdot</string>
			<string>Acircumflexgrave</string>
			<string>Acircumflexhook</string>
			<string>Acircumflextilde</string>
			<string>Adotbelow</string>
			<string>Ahook</string>
			<string>Aogonek</string>
			<string>Delta</string>
			<string>Acaron</string>
		</array>
		<key>public.kern2.Dcroat</key>
		<array>
			<string>Dcroat.RECT</string>
			<string>Eth.RECT</string>
			<string>Dcroat</string>
			<string>Eth</string>
		</array>
		<key>public.kern2.Germandbls</key>
		<array>
			<string>Germandbls</string>
			<string>Germandbls.RECT</string>
			<string>germandbls</string>
		</array>
		<key>public.kern2.H</key>
		<array>
			<string>B</string>
			<string>B.RECT</string>
			<string>D</string>
			<string>D.RECT</string>
			<string>E.RECT</string>
			<string>Eacute.RECT</string>
			<string>Ebreve.RECT</string>
			<string>Ecircumflex.RECT</string>
			<string>Edieresis.RECT</string>
			<string>Egrave.RECT</string>
			<string>Emacron.RECT</string>
			<string>H</string>
			<string>I</string>
			<string>Iacute</string>
			<string>Igrave</string>
			<string>L</string>
			<string>M</string>
			<string>M.RECT</string>
			<string>N</string>
			<string>Ntilde</string>
			<string>P</string>
			<string>P.RECT</string>
			<string>R.grot</string>
			<string>R.RECT</string>
			<string>l.text</string>
			<string>E</string>
			<string>Eacute</string>
			<string>Ebreve</string>
			<string>Ecircumflex</string>
			<string>Edieresis</string>
			<string>Egrave</string>
			<string>Emacron</string>
			<string>F</string>
			<string>h</string>
			<string>i</string>
			<string>iacute</string>
			<string>k</string>
			<string>b</string>
			<string>R</string>
			<string>ij</string>
			<string>l.ultra</string>
			<string>thorn</string>
			<string>Ibreve</string>
			<string>Icircumflex</string>
			<string>Idieresis</string>
			<string>Imacron</string>
			<string>K</string>
			<string>Ecircumflexacute</string>
			<string>Ecircumflexdot</string>
			<string>Ecircumflexgrave</string>
			<string>Ecircumflexhook</string>
			<string>Ecircumflextilde</string>
			<string>Edotbelow</string>
			<string>Ehook</string>
			<string>Etilde</string>
			<string>Idotaccent</string>
			<string>Idotbelow</string>
			<string>Ihook</string>
			<string>Ecircumflexacute.RECT</string>
			<string>Ecircumflexdot.RECT</string>
			<string>Ecircumflexgrave.RECT</string>
			<string>Ecircumflexhook.RECT</string>
			<string>Ecircumflextilde.RECT</string>
			<string>Edotbelow.RECT</string>
			<string>Ehook.RECT</string>
			<string>Etilde.RECT</string>
			<string>idotbelow</string>
			<string>j.ultra</string>
			<string>Nacute</string>
			<string>Dcaron</string>
			<string>Ecaron</string>
			<string>Edotaccent</string>
			<string>Eogonek</string>
			<string>Iogonek</string>
			<string>Ncaron</string>
			<string>Ncedilla</string>
			<string>Lacute</string>
			<string>Lcaron</string>
			<string>Lcedilla</string>
			<string>Racute.grot</string>
			<string>Rcaron.grot</string>
			<string>Rcedilla.grot</string>
			<string>Thorn</string>
			<string>Kcedilla</string>
			<string>kcedilla</string>
			<string>Racute</string>
			<string>Rcaron</string>
			<string>Rcedilla</string>
			<string>lacute.text</string>
			<string>lcaron.text</string>
			<string>lcedilla.text</string>
			<string>ij.ultra</string>
			<string>Edotaccent.RECT</string>
			<string>Eogonek.RECT</string>
			<string>Racute.RECT</string>
			<string>Rcaron.RECT</string>
			<string>Rcedilla.RECT</string>
			<string>numero</string>
			<string>R.default</string>
			<string>Racute.default</string>
			<string>Rcaron.default</string>
			<string>Rcedilla.default</string>
			<string>N.RECT</string>
			<string>Nacute.RECT</string>
			<string>Ncaron.RECT</string>
			<string>Ncedilla.RECT</string>
			<string>Ntilde.RECT</string>
			<string>I.default</string>
			<string>Iacute.default</string>
			<string>Ibreve.default</string>
			<string>Icircumflex.default</string>
			<string>Idieresis.default</string>
			<string>Idotaccent.default</string>
			<string>Idotbelow.default</string>
			<string>Igrave.default</string>
			<string>Ihook.default</string>
			<string>Imacron.default</string>
			<string>Iogonek.default</string>
			<string>Itilde.default</string>
			<string>Eng</string>
			<string>exclam.brut</string>
			<string>exclamdown.case_brut</string>
			<string>R.RECTgrot</string>
			<string>Racute.RECTgrot</string>
			<string>Rcaron.RECTgrot</string>
			<string>Rcedilla.RECTgrot</string>
			<string>exclamdown.case</string>
			<string>H.RECT</string>
			<string>Ldot</string>
			<string>ldot.text</string>
			<string>idotaccent</string>
			<string>ijacute</string>
			<string>ijacute.ultra</string>
			<string>ldot.default</string>
		</array>
		<key>public.kern2.I.text</key>
		<array>
			<string>I.text</string>
			<string>Iacute.text</string>
			<string>Ibreve.text</string>
			<string>Icircumflex.text</string>
			<string>Idieresis.text</string>
			<string>Igrave.text</string>
			<string>Imacron.text</string>
			<string>Idotbelow.text</string>
			<string>Ihook.text</string>
			<string>Itilde.text</string>
			<string>Idotaccent.text</string>
			<string>Iogonek.text</string>
		</array>
		<key>public.kern2.Itop</key>
		<array>
			<string>Itilde</string>
		</array>
		<key>public.kern2.J</key>
		<array>
			<string>J</string>
			<string>Jacute</string>
		</array>
		<key>public.kern2.O</key>
		<array>
			<string>C</string>
			<string>O</string>
			<string>G</string>
			<string>Q</string>
			<string>Oacute</string>
			<string>Ocircumflex</string>
			<string>Odieresis</string>
			<string>Ograve</string>
			<string>Obreve</string>
			<string>Omacron</string>
			<string>OE</string>
			<string>Ccedilla</string>
			<string>Odieresis.titl</string>
			<string>Q.open</string>
			<string>Gbreve</string>
			<string>Ocircumflexacute</string>
			<string>Ocircumflexdot</string>
			<string>Ocircumflexgrave</string>
			<string>Ocircumflexhook</string>
			<string>Ocircumflextilde</string>
			<string>Odotbelow</string>
			<string>Ohook</string>
			<string>Ohorn</string>
			<string>Ohornacute</string>
			<string>Ohorndot</string>
			<string>Ohorngrave</string>
			<string>Ohornhook</string>
			<string>Ohorntilde</string>
			<string>Otilde</string>
			<string>Cacute</string>
			<string>Gcedilla</string>
			<string>Ohungarumlaut</string>
			<string>Ccaron</string>
			<string>Q.titl</string>
			<string>at.case</string>
		</array>
		<key>public.kern2.O.RECT</key>
		<array>
			<string>C.RECT</string>
			<string>G.RECT</string>
			<string>O.RECT</string>
			<string>Q.RECT</string>
			<string>Oacute.RECT</string>
			<string>Obreve.RECT</string>
			<string>Ocircumflex.RECT</string>
			<string>Odieresis.RECT</string>
			<string>Ograve.RECT</string>
			<string>Omacron.RECT</string>
			<string>Ccedilla.RECT</string>
			<string>Q.RECT_open</string>
			<string>OE.RECT</string>
			<string>Ocircumflexacute.RECT</string>
			<string>Ocircumflexdot.RECT</string>
			<string>Ocircumflexgrave.RECT</string>
			<string>Ocircumflexhook.RECT</string>
			<string>Ocircumflextilde.RECT</string>
			<string>Odieresis.RECT_titl</string>
			<string>Odotbelow.RECT</string>
			<string>Ohook.RECT</string>
			<string>Ohorn.RECT</string>
			<string>Ohornacute.RECT</string>
			<string>Ohorndot.RECT</string>
			<string>Ohorngrave.RECT</string>
			<string>Ohornhook.RECT</string>
			<string>Ohorntilde.RECT</string>
			<string>Otilde.RECT</string>
			<string>Gcedilla.RECT</string>
			<string>Cacute.RECT</string>
			<string>Gbreve.RECT</string>
		</array>
		<key>public.kern2.Oslash</key>
		<array>
			<string>Oslash</string>
			<string>Oslash.open</string>
			<string>Oslashacute</string>
			<string>Oslashacute.open</string>
		</array>
		<key>public.kern2.Oslash.RECT</key>
		<array>
			<string>Oslash.RECT</string>
			<string>Oslash.RECT_open</string>
			<string>Oslashacute.RECT</string>
			<string>Oslashacute.RECT_open</string>
		</array>
		<key>public.kern2.S</key>
		<array>
			<string>S</string>
			<string>dollar</string>
			<string>dollar.open</string>
			<string>Scedilla</string>
			<string>Sacute</string>
			<string>Scaron</string>
			<string>Scommaaccent</string>
		</array>
		<key>public.kern2.T</key>
		<array>
			<string>T</string>
			<string>Tcaron</string>
			<string>T.ultra</string>
			<string>Tcaron.ultra</string>
			<string>Tcedilla</string>
			<string>Tcedilla.ultra</string>
			<string>Tcommaaccent</string>
			<string>Tcommaaccent.ultra</string>
		</array>
		<key>public.kern2.U</key>
		<array>
			<string>U</string>
			<string>Ubreve</string>
			<string>Uacute</string>
			<string>Ucircumflex</string>
			<string>Udieresis</string>
			<string>Ugrave</string>
			<string>Umacron</string>
			<string>Udieresis.titl</string>
			<string>IJ</string>
			<string>Udotbelow</string>
			<string>Uhook</string>
			<string>Uhorn</string>
			<string>Uhornacute</string>
			<string>Uhorndot</string>
			<string>Uhorngrave</string>
			<string>Uhornhook</string>
			<string>Uhorntilde</string>
			<string>Utilde</string>
			<string>uni01D3</string>
			<string>Ucaron</string>
			<string>Uhungarumlaut</string>
			<string>Uogonek</string>
			<string>Uring</string>
			<string>IJacute</string>
		</array>
		<key>public.kern2.U.RECT</key>
		<array>
			<string>U.RECT</string>
			<string>Uacute.RECT</string>
			<string>Ubreve.RECT</string>
			<string>Ucircumflex.RECT</string>
			<string>Udieresis.RECT</string>
			<string>Ugrave.RECT</string>
			<string>Umacron.RECT</string>
			<string>Udotbelow.RECT</string>
			<string>Uhook.RECT</string>
			<string>Uhorn.RECT</string>
			<string>Uhornacute.RECT</string>
			<string>Uhorndot.RECT</string>
			<string>Uhorngrave.RECT</string>
			<string>Uhornhook.RECT</string>
			<string>Uhorntilde.RECT</string>
			<string>Utilde.RECT</string>
			<string>Uogonek.RECT</string>
			<string>Udieresis.RECT_titl</string>
			<string>Ucaron.RECT</string>
		</array>
		<key>public.kern2.W</key>
		<array>
			<string>W</string>
		</array>
		<key>public.kern2.W.RECT</key>
		<array>
			<string>W.RECT</string>
		</array>
		<key>public.kern2.X</key>
		<array>
			<string>X</string>
		</array>
		<key>public.kern2.Y</key>
		<array>
			<string>Y</string>
			<string>Ydieresis</string>
			<string>Yacute</string>
			<string>Ydotbelow</string>
			<string>Ygrave</string>
			<string>Yhookabove</string>
			<string>Ytilde</string>
		</array>
		<key>public.kern2.Z</key>
		<array>
			<string>Z</string>
			<string>Zacute</string>
			<string>Zdotaccent</string>
			<string>Zcaron</string>
		</array>
		<key>public.kern2.a</key>
		<array>
			<string>a</string>
			<string>aacute</string>
			<string>abreve</string>
			<string>acircumflex</string>
			<string>adieresis</string>
			<string>agrave</string>
			<string>amacron</string>
			<string>atilde</string>
			<string>ae</string>
			<string>aring</string>
			<string>abreveacute</string>
			<string>abrevedot</string>
			<string>abrevegrave</string>
			<string>abrevehook</string>
			<string>abrevetilde</string>
			<string>acircumflexacute</string>
			<string>acircumflexdot</string>
			<string>acircumflexgrave</string>
			<string>acircumflexhook</string>
			<string>acircumflextilde</string>
			<string>adotbelow</string>
			<string>ahook</string>
			<string>aogonek</string>
			<string>acaron</string>
		</array>
		<key>public.kern2.braceright</key>
		<array>
			<string>braceright</string>
			<string>bracketright</string>
			<string>parenright</string>
			<string>braceright.case</string>
			<string>bracketright.case</string>
			<string>parenright.case</string>
		</array>
		<key>public.kern2.eight</key>
		<array>
			<string>eight</string>
			<string>eight.onum</string>
		</array>
		<key>public.kern2.g.text</key>
		<array>
			<string>g.text</string>
			<string>gbreve.text</string>
			<string>gcedilla.text</string>
		</array>
		<key>public.kern2.guillemetleft</key>
		<array>
			<string>guillemetleft</string>
			<string>guilsinglleft</string>
		</array>
		<key>public.kern2.guillemetright</key>
		<array>
			<string>guillemetright</string>
			<string>guilsinglright</string>
		</array>
		<key>public.kern2.hyphen</key>
		<array>
			<string>emdash</string>
			<string>endash</string>
			<string>hyphen</string>
			<string>uni2010</string>
			<string>minus</string>
			<string>plus</string>
			<string>hyphenproper</string>
		</array>
		<key>public.kern2.itop</key>
		<array>
			<string>ibreve</string>
			<string>icircumflex</string>
			<string>idieresis</string>
			<string>imacron</string>
			<string>itilde</string>
			<string>ihook</string>
		</array>
		<key>public.kern2.j</key>
		<array>
			<string>j</string>
			<string>jacute</string>
			<string>jacute.ultra</string>
		</array>
		<key>public.kern2.lhook</key>
		<array>
			<string>l</string>
			<string>lacute</string>
			<string>lcaron</string>
			<string>lcedilla</string>
			<string>l.default</string>
			<string>lacute.default</string>
			<string>lcaron.default</string>
			<string>lcedilla.default</string>
			<string>ldot</string>
		</array>
		<key>public.kern2.n</key>
		<array>
			<string>m</string>
			<string>n</string>
			<string>r</string>
			<string>ntilde</string>
			<string>r.calt</string>
			<string>idotless</string>
			<string>colon</string>
			<string>nacute</string>
			<string>ncedilla</string>
			<string>ncaron</string>
			<string>racute</string>
			<string>rcaron</string>
			<string>rcedilla</string>
			<string>eng</string>
		</array>
		<key>public.kern2.o</key>
		<array>
			<string>d</string>
			<string>e</string>
			<string>o</string>
			<string>q</string>
			<string>c</string>
			<string>g</string>
			<string>a.italic</string>
			<string>eacute</string>
			<string>ebreve</string>
			<string>ecircumflex</string>
			<string>edieresis</string>
			<string>egrave</string>
			<string>emacron</string>
			<string>oacute</string>
			<string>obreve</string>
			<string>ocircumflex</string>
			<string>odieresis</string>
			<string>ograve</string>
			<string>omacron</string>
			<string>oslash</string>
			<string>ccedilla</string>
			<string>oe</string>
			<string>aacute.italic</string>
			<string>abreve.italic</string>
			<string>acircumflex.italic</string>
			<string>adieresis.italic</string>
			<string>agrave.italic</string>
			<string>amacron.italic</string>
			<string>aring.italic</string>
			<string>atilde.italic</string>
			<string>oslash.open</string>
			<string>eth</string>
			<string>ecircumflexacute</string>
			<string>ecircumflexdot</string>
			<string>ecircumflexgrave</string>
			<string>ecircumflexhook</string>
			<string>ecircumflextilde</string>
			<string>edotbelow</string>
			<string>ehook</string>
			<string>etilde</string>
			<string>abreveacute.italic</string>
			<string>abrevedot.italic</string>
			<string>abrevegrave.italic</string>
			<string>abrevehook.italic</string>
			<string>abrevetilde.italic</string>
			<string>acircumflexacute.italic</string>
			<string>acircumflexdot.italic</string>
			<string>acircumflexgrave.italic</string>
			<string>acircumflexhook.italic</string>
			<string>acircumflextilde.italic</string>
			<string>adotbelow.italic</string>
			<string>ahook.italic</string>
			<string>ocircumflexacute</string>
			<string>ocircumflexdot</string>
			<string>ocircumflexgrave</string>
			<string>ocircumflexhook</string>
			<string>ocircumflextilde</string>
			<string>odotbelow</string>
			<string>ohook</string>
			<string>ohorn</string>
			<string>ohornacute</string>
			<string>ohorndot</string>
			<string>ohorngrave</string>
			<string>ohornhook</string>
			<string>ohorntilde</string>
			<string>otilde</string>
			<string>gbreve</string>
			<string>eogonek</string>
			<string>cacute</string>
			<string>ccaron</string>
			<string>dcaron</string>
			<string>ecaron</string>
			<string>edotaccent</string>
			<string>gcedilla</string>
			<string>ohungarumlaut</string>
			<string>oslashacute</string>
			<string>dcroat</string>
			<string>aogonek.italic</string>
			<string>oslashacute.open</string>
			<string>ohorn.flat</string>
			<string>g.default</string>
			<string>gbreve.default</string>
			<string>gcedilla.default</string>
		</array>
		<key>public.kern2.one</key>
		<array>
			<string>one</string>
			<string>one.90deg</string>
		</array>
		<key>public.kern2.one.onum</key>
		<array>
			<string>one.90deg_onum</string>
			<string>one.onum</string>
		</array>
		<key>public.kern2.ordinal</key>
		<array>
			<string>ND.ord</string>
			<string>RD.ord</string>
			<string>ST.ord</string>
			<string>TH.ord</string>
			<string>ordfeminine</string>
			<string>ordmasculine</string>
		</array>
		<key>public.kern2.p</key>
		<array>
			<string>exclamdown</string>
			<string>exclamdown.brut</string>
			<string>jdotless.ultra</string>
			<string>p</string>
			<string>mu.math</string>
			<string>semicolon</string>
			<string>semicolon.brut</string>
		</array>
		<key>public.kern2.period</key>
		<array>
			<string>comma</string>
			<string>period</string>
			<string>ellipsis</string>
			<string>comma.brut</string>
		</array>
		<key>public.kern2.quoteleft</key>
		<array>
			<string>quotedblleft</string>
			<string>quoteleft</string>
		</array>
		<key>public.kern2.quoteright</key>
		<array>
			<string>quotedblright</string>
			<string>quoteright</string>
		</array>
		<key>public.kern2.quoteright.brut</key>
		<array>
			<string>quotedblright.brut</string>
			<string>quoteright.brut</string>
		</array>
		<key>public.kern2.quotesinglbase</key>
		<array>
			<string>quotesinglbase</string>
			<string>quotedblbase</string>
			<string>quotedblbase.brut</string>
			<string>quotesinglbase.brut</string>
		</array>
		<key>public.kern2.quotesingle</key>
		<array>
			<string>quotedbl</string>
			<string>quotesingle</string>
		</array>
		<key>public.kern2.quotesingle.brut</key>
		<array>
			<string>quotedbl.brut</string>
			<string>quotesingle.brut</string>
			<string>quotedblleft.brut</string>
			<string>quoteleft.brut</string>
			<string>minute</string>
			<string>second</string>
		</array>
		<key>public.kern2.s</key>
		<array>
			<string>s</string>
			<string>sacute</string>
			<string>scaron</string>
			<string>scedilla</string>
			<string>scommaaccent</string>
		</array>
		<key>public.kern2.t</key>
		<array>
			<string>t</string>
			<string>tcaron</string>
			<string>tcedilla</string>
			<string>tcommaaccent</string>
		</array>
		<key>public.kern2.t.simple</key>
		<array>
			<string>t.simple</string>
			<string>tcaron.simple</string>
			<string>tcedilla.simple</string>
			<string>tcommaaccent.simple</string>
		</array>
		<key>public.kern2.u</key>
		<array>
			<string>u</string>
			<string>uacute</string>
			<string>ubreve</string>
			<string>ucircumflex</string>
			<string>udieresis</string>
			<string>udotbelow</string>
			<string>ugrave</string>
			<string>uhook</string>
			<string>uhorn</string>
			<string>uhornacute</string>
			<string>uhorndot</string>
			<string>uhorngrave</string>
			<string>uhornhook</string>
			<string>uhorntilde</string>
			<string>umacron</string>
			<string>uni01D4</string>
			<string>utilde</string>
			<string>ucaron</string>
			<string>uhungarumlaut</string>
			<string>uogonek</string>
			<string>uring</string>
		</array>
		<key>public.kern2.v</key>
		<array>
			<string>v</string>
			<string>y</string>
			<string>ydieresis</string>
			<string>yacute</string>
			<string>ydotbelow</string>
			<string>ygrave</string>
			<string>yhookabove</string>
			<string>ytilde</string>
			<string>y.ultra</string>
			<string>y.bold</string>
			<string>y.ultra_calt</string>
			<string>yacute.bold</string>
			<string>yacute.ultra_calt</string>
			<string>ydieresis.bold</string>
			<string>ydieresis.ultra_calt</string>
			<string>ydotbelow.bold</string>
			<string>ydotbelow.ultra_calt</string>
			<string>ygrave.bold</string>
			<string>ygrave.ultra_calt</string>
			<string>yhookabove.bold</string>
			<string>yhookabove.ultra_calt</string>
			<string>ytilde.bold</string>
			<string>ytilde.ultra_calt</string>
			<string>yacute.ultra</string>
			<string>ydieresis.ultra</string>
			<string>ydotbelow.ultra</string>
			<string>ygrave.ultra</string>
			<string>yhookabove.ultra</string>
			<string>ytilde.ultra</string>
		</array>
		<key>public.kern2.w</key>
		<array>
			<string>w</string>
		</array>
		<key>public.kern2.x</key>
		<array>
			<string>x</string>
		</array>
		<key>public.kern2.z</key>
		<array>
			<string>z</string>
			<string>zacute</string>
			<string>zcaron</string>
			<string>zdotaccent</string>
		</array>
		<key>public.kern2.zero</key>
		<array>
			<string>six</string>
			<string>zero</string>
			<string>six.onum</string>
			<string>zero.zero</string>
		</array>
		<key>public.kern2.zero.onum</key>
		<array>
			<string>zero.onum</string>
			<string>zero.zero_onum</string>
		</array>
	</dict>
</plist>
